<h1>LoigIn</h1>
<form action="/login" method="post">
Email<input type="email" name="email" id="email" placeholder="username">
Password<input type="password" name="password" id="password" placeholder="password">
<input type="submit" value="Login">
</form>
<div>
    <h2>LogIn with GitHub</h2>
    <button onclick="location.href='/login/singupGithub'">GitHub</button>
</div>
<div>
    <h2>Register your user</h2>
    <button onclick="location.href='/login/register'">Register</button>
</div>