<h1>Sing up</h1>
<form action="/login/register" method="post">
firstname<input type="text" name="first_name" placeholder="firstname">
lastname<input type="text" name="last_name" placeholder="lastname">
email<input type="email" name="email" placeholder="email">
age<input type="text" name="age" placeholder="age">
Password<input type="password" name="password" placeholder="password">
<input type="submit" value="Register">
</form>